@import url("../assets/header.css");
@import url("../assets/banner.css");
@import url("../assets/cards.css");
@import url("../assets/team.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font-family: "Inter", sans-serif;
    --background-color: #fff;
    --Secondary-clr-font: #667085;
    --prominient-font: #8E2424;
    --principal-clr-font: #101828;
}

body {
    background: var(--background-color);
}

main {
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .nav-logo {
        margin-right: 4em;
    }

    .cabecalho {
        padding: 1em 1em;
    }

    .team img {
        width: 80%;
    }
}